@charset "utf-8";

/* Structural Styles */
html {
	background-color: hsl(150, 100%, 25%);
	background-color: rgb(0, 128, 64);
	background-attachment: fixed;
	background-image: url("returntodreamland.png");
}
body { 	
	background-color: rgb(255, 255, 255);
	background-color: hsl(0, 0%, 100%);
	margin:auto auto;
	text-align:center;
	max-width:800px;
	min-width:400px;
}

header > img {
	float: right;
}

/* Navigation Styles */
nav {
	background-image: linear-gradient(blue, white);
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 30px;
	text-align:center;
	text-shadow: 2px 2px black;
}

nav > ul {
	list-style-type:none;
	text-align:right;
	padding-bottom:40px;
}

/* Section Styles */
h1::before {
	content: url(SNES_KSS_mirrorKirbyStar1.png);
}

h1 {
	font-size:25px;
	color:blue;
}

h2 {
text-align: center;	
}

article {
	text-align:left;
	margin-left:10%;
	line-height:1.5;
	padding-bottom:20px;
}

table {
	margin: auto auto;
	padding-bottom:20px;
}

p {
	font-size:15px;
}

.changelog {
	font-size:12px;
	color:green;
	text-align:left;
	line-height:1;
	padding-top:20px;
}

footer > p.changelog {
	color:white;
	margin-left:10px;
	padding-bottom:20px;
}

footer {
	background-image: linear-gradient(white, blue);
	padding-top: 20px;
	padding-bottom: 20px;
	text-align:center;
	font-size:13px;
	clear: both;
}

#sources {
	font-size:17px;
}

#sources > * {
	font-size:15px;
}

/* Link Styles */
a:link, a:visited {
	color: white;
	text-decoration:none;
}

a:hover {
	color: red;
	text-decoration:none;
}

/*transititions*/
iframe:hover {
	height: 800px;
}